@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    background-color: rgb(5, 5, 5);


}


#sketch-canvas {
    /* Chnage display with JavaScript */
    opacity: 0;
    width: 80vw;
}

.menu {

    height: 99.5vh;
    width: 20vw;
    border-radius: 0px 25px 25px 0px;
    border: 2px solid #bd30ce;

    /* Change to rgb(30, 30, 30) when p5 background is in */
    background: #3b0662;
    opacity: 0;
    /* This change to flex with JavaScript */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono';
    color: #01eff0;
    box-shadow: 0 0 20px #bd30ce,
        0 0 100px #bd30ce;

    /* allows the box shadow to be displayed over the div */
    z-index: 1;
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;

}

.menu input {
    margin: 2vh 0 5vh 0;
    margin-top: -0.2vh;
}

.menu label {
    font-size: 2.5vh;

}

h1 {
    text-align: center;
    font-family: 'Audiowide';
    margin: 0vh 0 2vh;
 
    text-shadow: 0 0 10px #bd30ce,
        0 0 20px #01eff0;
    line-height: 1.5em;
    letter-spacing: .5vh;
}

button {
    outline: none;
    margin: 0 0 2vh 0;
    color: #000000;
    font-size: 1.1vw;
    width: 10vw;
    height: 7vh;
    background: #01eff0;
    border: none;
    border-radius: 3em;
    transition: all 0.2s;
    box-shadow: 0 0 10px #01eff0,
        0 0 15px #01eff0;
    font-family: 'Space Mono';


}

button:hover {
    box-shadow: 0 0 10px #01eff0,
        0 0 15px #01eff0,
        0 0 15px #01eff0,
        0 0 25px #01eff0;
       cursor: pointer;
}

/* Overlay Styling  */

.overlay {
    color: #01eff0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    animation: fadeIn 1s ease-in-out;
}


.overlayFade {
    animation: fadeOut 1s ease-in-out forwards;
    opacity: 1;

}

.splash-container {
    height: 90vh;
    width: 70vw;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #bd30ce;
    font-size: 5.5vh;
    /* Change to rgb(30, 30, 30) when p5 background is in */
    background: #3b0662;
    font-size: 5vh;
    font-family: 'Space Mono';

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px #bd30ce,
        0 0 100px #bd30ce;

    /* allows the box shadow to be displayed over the div */
    z-index: 1;
}

.overlay-btn {
    font-size: 5vh;
    margin-top: 3vh;
    font-family: 'Space Mono';
    width: 18vw;
    height: 12vh;
}


#title {
    margin-top: 5vh;
}

#help-container {
    height:24vh;
    width: 90vh;
    margin-top: 4vh;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #bd30ce;
    text-align: center;
    font-size: 4vh;
}

#help-text{
    font-size: 2vh;

}

.creator-profile {
    height:80vh;
    width: 35vh;
    margin-top: 4vh;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #bd30ce;
    text-align: center;
    font-size: 4vh;
    align-content: left;
}



@keyframes fadeOut {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        pointer-events: none;


    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;



    }
}